
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page" class="page">

    <div class="main-form bg bg1" style="background-color: rgba(0, 0, 0, 0); margin-top: 0px; background-image: url(../../Images/img2.jpg);">
        <h1 class="editContent">Apollo11</h1>
        <div class="w3l-login-form editContent medium-editor-element" style="color: rgb(238, 238, 238); font-size: 16px; background-color: rgba(0, 0, 0, 0.41); font-family: Raleway, sans-serif; outline: none; outline-offset: -2px; cursor: inherit;" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="35" medium-editor-index="6de76f99-f8c6-a55b-da4d-a38045af9434" data-placeholder="Type your text" data-medium-focused="true">
            
            <h3>Login</h3>
            <form action="#" method="POST">

                <div class=" w3l-form-group editContent">
                    <label class="editContent">Username:</label>
                    <div class="group editContent">
                      
                        <input type="text" class="form-control" placeholder="Digite seu Usuario" required="required">
                    </div>
                </div>
                <div class=" w3l-form-group editContent">
                    <label class="editContent">Password:</label>
                    <div class="group editContent">
                       
                        <input type="password" class="form-control" placeholder="Digite sua senha" required="required">
                    </div>
                </div>
                <div class="forgot editContent" style="outline: none; cursor: inherit;">
                    <a href="#" class="editContent" style="outline: none; cursor: inherit;">Forgot Password?</a>
                    <p class="editContent" style="outline: none; cursor: inherit;"><input type="checkbox">Remember Me</p>
                </div>
                <button class="btn" type="submit" style="outline: none; cursor: inherit;">
                Login
                </button>
            </form>

            <p class="editContent w3l-register-p" style="outline: none; cursor: inherit;">
                Don't have an account?
                    <a href="#" class="register editContant"> 
                        Register
                    </a>
            </p>
        </div>
        <footer>
            <p class="copyright-agileinfo"> © 2018 Material Login Form. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </footer>
    </div>
</div><!-- /#page -->
